main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-about {
  font-weight: 600;
}

main p {
  color: hsl(0, 0%, 30%);
  max-width: 500px;
  text-align: justify;
  text-align-last: left;
  margin: 20px 10px;
}