

/* main */


.nav_link.end {
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    #nav_stack {
        display: block flex;
        flex-direction: row;
    }
    #nav_stack div {
        flex: 1 1 auto;
        text-align: center;
    }
}
@media screen and (min-width: 900px) {
    main {
        grid-template-areas: "picture nav ";
    }
    dl {
        display: grid;
        align-content: center;
        padding: 0 0;
        text-align: center;
    }

    .details,
    .details_title {
        display: grid;
    }

    img {
        height: 600px;
        object-fit: contain;
    }
    
    #nav_stack {
        position: fixed;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        right: 20px;
        top: 50vh;
        transform: translateY(-50%) rotate(180deg);
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        height: 100vh;
        justify-content: center;
    }
    #nav_stack > * {
        margin: 20px 0px;
    }
}