#menu-works {
    font-weight: 600;
}

body {
    row-gap: 2rem;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 5%));
    background-color: hsl(0, 0%, 5%);
    background-repeat: no-repeat;
}

a {
    transition: color 0.5s;
}

a:not(.disabled):hover {
    color: hsl(0, 74%, 27%);
}

a.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* main */

main {
    display: grid;
    gap: 2rem;
    padding-inline: 2rem;
    position: relative;
}

.nav_link.end {
    visibility: hidden;
}

img {
    width: 100%;
}

article {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
}

.details,
.details_title {
    display: grid;
    gap: 0.5em;
}

.details.missing {
    visibility: hidden;
}

.details p,
.details_title p {
    color: hsl(0, 0%, 50%);
    font-size: 0.7rem;
}

.details_title span {
    color: hsl(0, 1%, 73%);
    font-size: 1rem;
    text-transform: uppercase;
}

.details span {
    color: hsl(0, 1%, 60%);
    font-size: 0.8rem;
}

#slidenav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

footer {
    background-color: hsl(0, 0%, 9%);
}

.sociallinks a {
    color: hsla(0, 63%, 26%, 0.9);
}

@media screen and (max-width: 900px) {
    #nav_stack {
        display: block flex;
        flex-direction: row;
    }
    #nav_stack div {
        flex: 1 1 auto;
        text-align: center;
    }
}
@media screen and (min-width: 900px) {
    main {
        grid-template-areas: "picture nav ";
    }
    article {
        display: grid;
        align-content: center;
        padding: 0 0;
        text-align: center;
    }

    .details,
    .details_title {
        display: grid;
    }

    img {
        height: 600px;
        object-fit: contain;
    }
    
    #nav_stack {
        position: fixed;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        right: 20px;
        top: 50vh;
        transform: translateY(-50%) rotate(180deg);
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        height: 100vh;
        justify-content: center;
    }
    #nav_stack > * {
        margin: 20px 0px;
    }
}