---
import Layout from "../layouts/Layout.astro"
---

<Layout title="annaja - contact">
  <link slot="head" rel="stylesheet" href="/contact.css"/>

  <main>
    E-mail: <a href="mailto:ajavor75@gmail.com">ajavor75@gmail.com</a>
  </main>
</Layout>

<style>
  main {
    color: hsl(0, 0%, 30%);
    padding: 1rem 1rem 0 1rem;
    text-align: center;
  }
</style>