---
import { Image } from 'astro:assets'
import { getPics, picUrl, type Pic } from '../pics'

interface Props {
    pic?: Pic
    slug?: string
}

const pic = Astro.props.pic ?? (await getPics()).find(p => p.slug == Astro.props.slug);

if (!pic) throw new Error("Invalid slug");

const { Content } = await pic.render();

---

<a href={picUrl(pic)}>
    <Image src={pic.data.image} alt={pic.slug} width={600} />
</a>